<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Error Exception {{ status_text }}</title>
</head>
<body>
	<h1>une erreur d'exception du code {{ status_code }} est soulevée </h1>
	<span>{{ status_text }}</span>
	
	<p>ipsum</p>
</body>
</html>
