<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Advert Controller Accueil</title>
</head>
<body>
	<h1>Suppression de l'Advert </h1>
	{% if advert is not empty %}
	<span>N° : {{advert.id}}{{ advert.title }}</span>
	{% else %}
	<span>suppression de l'advert de id={{ id }} est reussie</span>
	{% endif %}
	
	<p>ipsum</p>
</body>
</html>