<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Advert Controller Accueil</title>
</head>
<body>
	<h1>Suppression de l'Advert </h1>
	<span>N° : {{id}}</span>
	<p>ipsum</p>
</body>
</html>