{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
	modifier une annonce {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
	<h2>modifier une annonce</h2>
	
	{{ include("OCPlatformBundle:Advert:form.html.twig") }}
	
	<p>
		vous editez une annonce déja existante
	</p>
	
	
{% endblock %}
